name: import

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  import:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: google-github-actions/auth@v0
        with:
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.GOOGLE_WORKLOAD_IDENTITY_PROVIDER }}
      - uses: r7kamura/google-docs-to-github@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          google_drive_folder_id: ${{ secrets.GOOGLE_DRIVE_FOLDER_ID }}
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: npm
      - run: npm install
      - run: npm run export
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: out
